@using DrHuellitas.BO;
@model ChatBO
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/BackEndView.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="box-typical chat-container">
            <section class="chat-list">
                <div class="chat-list-search">
                    <input type="text" class="form-control form-control-rounded" placeholder="Search" />
                </div><!--.chat-list-search-->


                <!--Aquí carga la lista de chats-->
                <div class="chat-list-in scrollable-block" id="chat-list-in">
                    <p id="LoadingStatus"></p>
                </div>



            </section><!--.chat-list-->
            <section class="chat-area">
                <div class="chat-area-in">
                    <div class="chat-area-header">
                        <div class="chat-list-item online">
                            <div class="chat-list-item-photo">
                                <img src="" alt="" width="32" height="32" id="imagenContacto">
                            </div>
                            <div class="chat-list-item-name">
                                <span class="name" id="nombreContacto"></span>
                            </div>
                            <div class="chat-list-item-txt writing">Last seen 05 aug 2015 at 18:04</div>
                        </div>
                        <div class="chat-area-header-action">
                            <div class="dropdown dropdown-typical">
                                <a class="dropdown-toggle dropdown-toggle-txt" id="dd-chat-action" data-target="#" href="../../../example.com/index.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="lbl">Acciones</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-chat-action">
                                    <a class="dropdown-item no-nowrap" href="#">Eliminar chat</a>
                                    <a class="dropdown-item no-nowrap" href="#">Llamar</a>
                                </div>
                            </div>
                        </div>
                    </div><!--.chat-area-header-->





                    <div id="chat-dialog-area" class="chat-dialog-area scrollable-block">
                        <p id="LoadingMessage"></p>
                        <!--.chat-message-->
                        




                        </div><!--.chat-dialog-area-->
                    <div class="chat-area-bottom">
                        <form class="write-message"  id="SubmitForm">
                            <div class="avatar">
                                <img src="@Session["foto"]" alt="">
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(x => x.id, new { @id = "idChats" })
                                @Html.HiddenFor(x => x.idenvia, new { @id = "idEnvia" })
                                @Html.HiddenFor(x => x.idrecibe, new { @id = "idRecibe" })
                                @Html.TextAreaFor(x=>x.mensajes.mensaje, new { @rows = "2", @class="form-control", @placeholder="Escribe un mensaje..."})
                            </div>
                            <button id="EnviarMensaje" class="btn btn-rounded float-left">Enviar</button>
                            <button type="reset" class="btn btn-rounded btn-default float-left">Limpiar</button>
                            <div class="dropdown dropdown-typical dropup attach">
                                <a class="dropdown-toggle dropdown-toggle-txt"
                                   id="dd-chat-attach"
                                   data-target="#"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <span class="lbl">Adjuntar</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-chat-attach">
                                    <a class="dropdown-item" href="#"><i class="font-icon font-icon-cam-photo"></i>Foto</a>
                                    <a class="dropdown-item" href="#"><i class="font-icon font-icon-cam-video"></i>Video</a>
                                    <a class="dropdown-item" href="#"><i class="font-icon font-icon-sound"></i>Audio</a>
                                    <a class="dropdown-item" href="#"><i class="font-icon font-icon-page"></i>Documento</a>
                                </div>
                            </div>
                        </form>
                    </div><!--.chat-area-bottom-->
                </div><!--.chat-area-in-->
            </section><!--.chat-area-->
        </div><!--.chat-container-->
    </div><!--.container-fluid-->
</div><!--.page-content-->





<script>
    $("#LoadingStatus").html("Cargando...");
    $.get("/Admin/ListarChatRecibe?idUsuario=" +@Session["id"], null, DataBind);
            function DataBind(PackChat) {
                var SetData = $("#chat-list-in");
                for (var i = 0; i < PackChat.length; i++) {
                    if (PackChat[i].mensajes.status > 0) {
                        var Data = "<div class='chat-list-item' id= 'chat-item' onclick='AbrirChat(" + PackChat[i].id +"),VerChat(" + PackChat[i].id + "," + @Session["id"]+ "," + i + ")'>" +
                            "<div class='chat-list-item-photo'>" +
                            "<img src='" + PackChat[i].usuarios.foto + "' alt=''>" +
                            "</div>" +
                            "<div class='chat-list-item-header'>" +
                            "<div class='chat-list-item-name'>" +
                            "<span class='name'>" + PackChat[i].usuarios.nombre + "</span>" +
                            "</div>" +
                            "<div class='chat-list-item-date'>" +
                            PackChat[i].mensajes.sfecha +
                            "</div>" +
                            "</div>" +
                            "<div class='chat-list-item-cont'>" +
                            "<div class='chat-list-item-txt writing'>" +
                            PackChat[i].mensajes.mensaje +
                            "</div>" +
                            "<div class='chat-list-item-count' id='chat_" + i + "'>" + PackChat[i].mensajes.status + "</div>" +
                            "</div>" +
                            "</div>";
                    }
                    else {
                        var Data = "<div class='chat-list-item' id= 'chat-item' onclick='AbrirChat(" + PackChat[i].id +"),VerChat(" + PackChat[i].id + "," + @Session["id"]+ "," + i + ")'>" +
                                "<div class='chat-list-item-photo'>" +
                                "<img src='" + PackChat[i].usuarios.foto + "' alt=''>" +
                                "</div>" +
                            "<div class='chat-list-item-header'>" +
                                "<div class='chat-list-item-name'>" +
                                    "<span class='name'>" + PackChat[i].usuarios.nombre + "</span>" +
                                "</div>" +
                                "<div class='chat-list-item-date'>" +
                                    PackChat[i].mensajes.sfecha +
                                "</div>" +
                            "</div>" +
                            "<div class='chat-list-item-cont'>" +
                                "<div class='chat-list-item-txt writing'>" +
                                PackChat[i].mensajes.mensaje +
                                "</div>" +
                            "</div>" +
                            "</div>";
                    }
                    SetData.append(Data);
                }
                $("#LoadingStatus").remove();
            }

            function AbrirChat(idChat) {
                $.get("/Admin/AbrirChat?idChat=" + idChat, null, DataBind);
                function DataBind(PackUser) {
                        $("#idEnvia").val(PackUser[0].usuarios.id);
                        $("#idChats").val(idChat);
                        $("#idRecibe").val(@Session["id"]);
                        $("#nombreContacto").html(PackUser[0].usuarios.nombre);
                        $("#imagenContacto").attr("src", PackUser[0].usuarios.foto);
                }

            }

            function VerChat(idChat,idSession,x) {
                $("#chat-dialog-area .jspPane").html("");
                $("#LoadingMessage").html("Cargando...");
                $.get("/Admin/AbrirChatRecibe?idChat=" + idChat + "&idSession=" + idSession, null, llamada);
                var hoy = new Date();
                var dd = hoy.getDate();
                var mm = hoy.getMonth() + 1; //hoy es 0!
                var yyyy = hoy.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd
                }

                if (mm < 10) {
                    mm = '0' + mm
                }
                hoy = dd + '-' + mm + '-' + yyyy;
                function llamada(PackChat) {
                    var SetData = $("#chat-dialog-area .jspPane");
                    for (var i = 0; i < PackChat.length; i++) {
                        if (hoy == PackChat[i].mensajes.sfecha) {
                            var Data =
                                "<div class='chat-message'>" +
                                "<div class='checkbox-bird'>" +
                                "<input type='checkbox' id='mess-" + i + "' />" +
                                "<label for='mess-" + i + "'></label>" +
                                "</div>" +
                                "<div class='chat-message-photo'>" +
                                "<img src=" + PackChat[i].usuarios.foto + " width='32' height='32' alt=''>" +
                                "</div>" +
                                "<div class='chat-message-header'>" +
                                "<div class='tbl-row'>" +
                                "<div class='tbl-cell tbl-cell-name'>" + PackChat[i].usuarios.nombre + "</div>" +
                                "<div class='tbl-cell tbl-cell-date'>" + PackChat[i].mensajes.shora + "</div>" +
                                "</div>" +
                                "</div>" +
                                "<div class='chat-message-content'>" +
                                "<div class='chat-message-txt'>" + PackChat[i].mensajes.mensaje + "</div >" +
                                "</div>" +
                                "</div>";
                            
                        }
                        else {
                            var Data =
                                "<div class='chat-message'>" +
                                "<div class='checkbox-bird'>" +
                                "<input type='checkbox' id='mess-" + i + "' />" +
                                "<label for='mess-" + i + "'></label>" +
                                "</div>" +
                                "<div class='chat-message-photo'>" +
                                "<img src=" + PackChat[i].usuarios.foto + " width='32' height='32' alt=''>" +
                                "</div>" +
                                "<div class='chat-message-header'>" +
                                "<div class='tbl-row'>" +
                                "<div class='tbl-cell tbl-cell-name'>" + PackChat[i].usuarios.nombre + "</div>" +
                                "<div class='tbl-cell tbl-cell-date'>" + PackChat[i].mensajes.sfecha + "</div>" +
                                "</div>" +
                                "</div>" +
                                "<div class='chat-message-content'>" +
                                "<div class='chat-message-txt'>" + PackChat[i].mensajes.mensaje + "</div >" +
                                "</div>" +
                                "</div>";
                            
                        }

                        SetData.append(Data);
                        $("#chat_" + x).remove();
                    }

                }
                $("#LoadingMessage").remove();

            }


            $("#EnviarMensaje").click(function () {
                var data = $("#SubmitForm").serialize();
                $.ajax({
                    type: "Post",
                    url: "/Admin/EnviarMensaje",
                    data: data,
                    success: function (result) {
                        alert("¡Operación realizada con éxito!");
                    }
                })
                
            })

</script>
