<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

  
    <!--CSS-->
    @Styles.Render("~/Content/admin/lobipanel.min.css")
    @Styles.Render("~/Content/admin/vendor/lobipanel.min.css")
    @Styles.Render("~/Content/admin/jquery-ui.min.css")
    @Styles.Render("~/Content/admin/widgets.min.css")
    @Styles.Render("~/Content/admin/chat.min.css")
    @Styles.Render("~/Content/admin/font-awesome.min.css")
    @Styles.Render("~/Content/admin/bootstrap.min.css")
    @Styles.Render("~/Content/admin/main.css")
    @Styles.Render("~/Content/Scroll.css")
    @Styles.Render("~/Content/admin/jquery.fileupload.css")
    @Scripts.Render("~/Scripts/admin/jquery-3.2.1.min.js")
</head>
<body id="style1" class="with-side-menu control-panel control-panel-compact">


    <header class="site-header">
        <div class="container-fluid">
            <a href="~/Admin/Index" class="site-logo">
                <img class="hidden-md-down" src="~/img/Logo.png" alt="" style="height:auto; width:180px; padding-top:10px;">
                <img class="hidden-lg-down" src="~/img/Logo.png" alt="" style="height:auto; width:136.5px;">
            </a>

            <button id="show-hide-sidebar-toggle" class="show-hide-sidebar">
                <span>toggle menu</span>
            </button>

            <button class="hamburger hamburger--htla">
                <span>toggle menu</span>
            </button>
            <div class="site-header-content">
                <div class="site-header-content-in">
                    <div class="site-header-shown">
                        <div class="dropdown dropdown-notification notif">
                            <a href="#"
                               class="header-alarm dropdown-toggle active"
                               id="dd-notification"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="font-icon-alarm"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-notif" aria-labelledby="dd-notification">
                                <div class="dropdown-menu-notif-header">
                                    Notifications
                                    <span class="label label-pill label-danger">4</span>
                                </div>
                                <div class="dropdown-menu-notif-list">
                                    <div class="dropdown-menu-notif-item">
                                        <div class="photo">
                                            <img src="~/img/admin/photo-64-1.jpg" alt="">
                                        </div>
                                        <div class="dot"></div>
                                        <a href="#">Morgan</a> was bothering about something
                                        <div class="color-blue-grey-lighter">7 hours ago</div>
                                    </div>
                                    <div class="dropdown-menu-notif-item">
                                        <div class="photo">
                                            <img src="~/img/admin/photo-64-2.jpg" alt="">
                                        </div>
                                        <div class="dot"></div>
                                        <a href="#">Lioneli</a> had commented on this <a href="#">Super Important Thing</a>
                                        <div class="color-blue-grey-lighter">7 hours ago</div>
                                    </div>
                                    <div class="dropdown-menu-notif-item">
                                        <div class="photo">
                                            <img src="~/img/admin/photo-64-3.jpg" alt="">
                                        </div>
                                        <div class="dot"></div>
                                        <a href="#">Xavier</a> had commented on the <a href="#">Movie title</a>
                                        <div class="color-blue-grey-lighter">7 hours ago</div>
                                    </div>
                                    <div class="dropdown-menu-notif-item">
                                        <div class="photo">
                                            <img src="~/img/admin/photo-64-4.jpg" alt="">
                                        </div>
                                        <a href="#">Lionely</a> wants to go to <a href="#">Cinema</a> with you to see <a href="#">This Movie</a>
                                        <div class="color-blue-grey-lighter">7 hours ago</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu-notif-more">
                                    <a href="#">See more</a>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown dropdown-notification messages">
                            <a href="#"
                               class="header-alarm dropdown-toggle active"
                               id="dd-messages"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="font-icon-mail"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-messages" aria-labelledby="dd-messages">
                                <div class="dropdown-menu-messages-header">
                                    <ul class="nav" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active"
                                               data-toggle="tab"
                                               href="#tab-incoming"
                                               role="tab">
                                                Inbox
                                                <span class="label label-pill label-danger">8</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               data-toggle="tab"
                                               href="#tab-outgoing"
                                               role="tab">Outbox</a>
                                        </li>
                                    </ul>
                                    <!--<button type="button" class="create">
                                        <i class="font-icon font-icon-pen-square"></i>
                                    </button>-->
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-incoming" role="tabpanel">
                                        <div class="dropdown-menu-messages-list">
                                            <a href="#" class="mess-item">
                                                <span class="avatar-preview avatar-preview-32"><img src="~/img/admin/photo-64-2.jpg" alt=""></span>
                                                <span class="mess-item-name">Tim Collins</span>
                                                <span class="mess-item-txt">Morgan was bothering about something!</span>
                                            </a>
                                            <a href="#" class="mess-item">
                                                <span class="avatar-preview avatar-preview-32"><img src="~/img/admin/avatar-2-64.png" alt=""></span>
                                                <span class="mess-item-name">Christian Burton</span>
                                                <span class="mess-item-txt">Morgan was bothering about something! Morgan was bothering about something.</span>
                                            </a>
                                            <a href="#" class="mess-item">
                                                <span class="avatar-preview avatar-preview-32"><img src="~/img/admin/photo-64-2.jpg" alt=""></span>
                                                <span class="mess-item-name">Tim Collins</span>
                                                <span class="mess-item-txt">Morgan was bothering about something!</span>
                                            </a>
                                            <a href="#" class="mess-item">
                                                <span class="avatar-preview avatar-preview-32"><img src="~/img/admin/avatar-2-64.png" alt=""></span>
                                                <span class="mess-item-name">Christian Burton</span>
                                                <span class="mess-item-txt">Morgan was bothering about something...</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-outgoing" role="tabpanel">
                                        <div class="dropdown-menu-messages-list">
                                            <a href="#" class="mess-item">
                                                <span class="avatar-preview avatar-preview-32"><img src="~/img/admin/avatar-2-64.png" alt=""></span>
                                                <span class="mess-item-name">Christian Burton</span>
                                                <span class="mess-item-txt">Morgan was bothering about something! Morgan was bothering about something...</span>
                                            </a>
                                            <a href="#" class="mess-item">
                                                <span class="avatar-preview avatar-preview-32"><img src="~/img/admin/photo-64-2.jpg" alt=""></span>
                                                <span class="mess-item-name">Tim Collins</span>
                                                <span class="mess-item-txt">Morgan was bothering about something! Morgan was bothering about something.</span>
                                            </a>
                                            <a href="#" class="mess-item">
                                                <span class="avatar-preview avatar-preview-32"><img src="~/img/admin/avatar-2-64.png" alt=""></span>
                                                <span class="mess-item-name">Christian Burtons</span>
                                                <span class="mess-item-txt">Morgan was bothering about something!</span>
                                            </a>
                                            <a href="#" class="mess-item">
                                                <span class="avatar-preview avatar-preview-32"><img src="~/img/admin/photo-64-2.jpg" alt=""></span>
                                                <span class="mess-item-name">Tim Collins</span>
                                                <span class="mess-item-txt">Morgan was bothering about something!</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-menu-notif-more">
                                    <a href="#">See more</a>
                                </div>
                            </div>
                        </div>


                        <div class="dropdown user-menu">
                            <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if ((String)Session["foto"] == "0" || Session["foto"] == null)
                                {
                                    <img src="~/img/admin/avatar-1-32.png" alt="" class="img-circle" style="width:32px; height:32px;">
                                }
                                else
                                {
                                    <img src="@Session["foto"]" alt="" class="img-circle" style="width:32px; height:32px;">
                                }

                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                                <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-user"></span>Mi perfil</a>
                                <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-question-sign"></span>Ayuda</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Inicio/CerrarSesion"><span class="font-icon glyphicon glyphicon-log-out"></span>Salir</a>
                            </div>
                        </div>

                        <button type="button" class="burger-right">
                            <i class="font-icon-menu-addl"></i>
                        </button>
                    </div><!--.site-header-shown-->

                    <div class="mobile-menu-right-overlay"></div>
                    <div class="site-header-collapsed">
                   
                        <div class="site-header-collapsed-in">
                            <!--Buscador-->
                            <div class="site-header-search-container">
                                <form class="site-header-search closed">
                                    <input type="text" placeholder="Search" />
                                    <button type="submit">
                                        <span class="font-icon-search"></span>
                                    </button>
                                    <div class="overlay"></div>
                                </form>
                            </div>  
                           
                        </div><!--.site-header-collapsed-in-->
                    </div><!--.site-header-collapsed-->
                </div><!--site-header-content-in-->
            </div><!--.site-header-content-->
        </div><!--.container-fluid-->
    </header><!--.site-header-->





    <!--Menu-->
    <div class="mobile-menu-left-overlay"></div>
    <nav class="side-menu">
        <ul class="side-menu-list">
            <li class="grey">
                <a href="~/Admin/Index">
                    <i class="font-icon font-icon-dashboard"></i>
                    <span class="lbl">Inicio</span>
                </a>
            </li>
            
            <li class="purple">
                <a href="~/Admin/ChatA">
                    <i class="font-icon font-icon-comments active"></i>
                    <span class="lbl">Chat</span>
                </a>
                <!--<ul>
                    <li><a href="messenger.html"><span class="lbl">Messenger</span></a></li>
                    <li><a href="chat.html"><span class="lbl">Messages</span><span class="label label-custom label-pill label-danger">8</span></a></li>
                    <li><a href="chat-write.html"><span class="lbl">Write Message</span></a></li>
                    <li><a href="chat-index.html"><span class="lbl">Select User</span></a></li>
                </ul>-->
            </li>
            <!--<li class="red">
                <a href="mail.html">
                    <i class="font-icon glyphicon glyphicon-send"></i>
                    <span class="lbl">E-Mail</span>
                </a>
            </li>-->
            <!--<li class="gold with-sub">
                <span>
                    <i class="font-icon font-icon-edit"></i>
                    <span class="lbl">Forms</span>
                </span>
                <ul>
                    <li><a href="ui-form.html"><span class="lbl">Basic Inputs</span></a></li>
                    <li><a href="ui-buttons.html"><span class="lbl">Buttons</span></a></li>
                    <li><a href="ui-select.html"><span class="lbl">Select &amp; Tags</span></a></li>
                    <li><a href="ui-checkboxes.html"><span class="lbl">Checkboxes &amp; Radios</span></a></li>
                    <li><a href="ui-form-validation.html"><span class="lbl">Validation</span></a></li>
                    <li><a href="typeahead.html"><span class="lbl">Typeahead</span></a></li>
                    <li><a href="steps.html"><span class="lbl">Steps</span></a></li>
                    <li><a href="ui-form-input-mask.html"><span class="lbl">Input Mask</span></a></li>
                    <li><a href="form-flex-labels.html"><span class="lbl">Flex Labels</span></a></li>
                    <li><a href="ui-form-extras.html"><span class="lbl">Extras</span></a></li>
                </ul>
            </li>-->
            <!--<li class="blue-dirty">
                <a href="tables.html">
                    <span class="glyphicon glyphicon-th"></span>
                    <span class="lbl">Tables</span>
                </a>
            </li>-->
            <li class="magenta with-sub">
                <span>
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span class="lbl">Gestiones</span>
                </span>
                <ul>
                    <li><a href="~/Gestiones/Usuarios"><span class="lbl">Usuarios</span></a></li>
                    <li><a href="~/Gestiones/Mascotas"><span class="lbl">Mascotas</span></a></li>
                    <li><a href="~/Gestiones/Razas"><span class="lbl">Razas</span></a></li>
                    <li><a href="~/Gestiones/Especies"><span class="lbl">Especies</span></a></li>
                    <li><a href="~/Gestiones/Vacunas"><span class="lbl">Vacunas</span></a></li>
                    <li><a href="~/Gestiones/Ciudades"><span class="lbl">Ciudades</span></a></li>
                    <li><a href="~/Gestiones/Estados"><span class="lbl">Estados</span></a></li>
                    <li><a href="~/Gestiones/Paises"><span class="lbl">Paises</span></a></li>
                    <li><a href="~/Gestiones/Propaganda"><span class="lbl">Propaganda</span></a></li>
                    <li><a href="~/Gestiones/Comentarios"><span class="lbl">Comentarios</span></a></li>
                    <li><a href="~/Gestiones/Paquetes"><span class="lbl">Paquetes</span></a></li>
                </ul>
            
            </li>

            <!--<li><a href="datatables.html"><span class="lbl">Default</span></a></li>
            <li><a href="datatables-fixed-columns.html"><span class="lbl">Fixed Columns</span></a></li>
            <li><a href="datatables-reorder-rows.html"><span class="lbl">Reorder Rows</span></a></li>
            <li><a href="datatables-reorder-columns.html"><span class="lbl">Reorder Columns</span></a></li>
            <li><a href="datatables-resize-columns.html"><span class="lbl">Resize Columns</span></a></li>
            <li><a href="datatables-mobile.html"><span class="lbl">Mobile</span></a></li>
            <li><a href="datatables-filter-control.html"><span class="lbl">Filters</span></a></li>-->
        <!--<li class="green with-sub">
            <span>
                <i class="font-icon font-icon-widget"></i>
                <span class="lbl">Components</span>
            </span>
            <ul>
                <li><a href="widgets.html"><span class="lbl">Widgets</span></a></li>
                <li><a href="elements.html"><span class="lbl">Bootstrap UI</span></a></li>
                <li><a href="ui-datepicker.html"><span class="lbl">Date and Time Pickers</span></a></li>
                <li><a href="multipicker.html"><span class="lbl">Multi Picker</span></a></li>
                <li><a href="form-steps.html"><span class="lbl">Form Steps</span></a></li>
                <li><a href="components-upload.html"><span class="lbl">Upload</span></a></li>
                <li><a href="sweet-alerts.html"><span class="lbl">SweetAlert</span></a></li>
                <li><a href="color-picker.html"><span class="lbl">Color Picker</span></a></li>
                <li><a href="tabs.html"><span class="lbl">Tabs</span></a></li>
                <li><a href="panels.html"><span class="lbl">Panels</span></a></li>
                <li><a href="notifications.html"><span class="lbl">Notifications</span></a></li>
                <li><a href="range-slider.html"><span class="lbl">Sliders</span></a></li>
                <li><a href="editor-summernote.html"><span class="lbl">Editors</span></a></li>
                <li><a href="nestable.html"><span class="lbl">Nestable</span></a></li>
                <li><a href="blockui.html"><span class="lbl">BlockUI</span></a></li>
                <li><a href="alerts.html"><span class="lbl">Alerts</span></a></li>
                <li><a href="player.html"><span class="lbl">Players</span></a></li>
            </ul>
        </li>-->
        <!--   <li class="gold">
               <a href="#">
                   <i class="font-icon font-icon-speed"></i>
                   <span class="lbl">Performance</span>
               </a>
           </li>-->
        <!--<li class="pink-red">
            <a href="activity.html">
                <i class="font-icon font-icon-zigzag"></i>
                <span class="lbl">Activity</span>
            </a>
        </li>
        <li class="blue with-sub">
            <span>
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Profile</span>
            </span>
            <ul>
                <li><a href="profile.html"><span class="lbl">Version 1</span></a></li>
                <li><a href="profile-2.html"><span class="lbl">Version 2</span></a></li>
            </ul>
        </li>
        <li class="orange-red with-sub">
            <span>
                <i class="font-icon font-icon-help"></i>
                <span class="lbl">Support</span>
            </span>
            <ul>
                <li><a href="documentation.html"><span class="lbl">Docs (example)</span></a></li>
                <li><a href="faq.html"><span class="lbl">FAQ Simple</span></a></li>
                <li><a href="faq-search.html"><span class="lbl">FAQ Search</span></a></li>
            </ul>
        </li>
        <li class="red">
            <a href="contacts.html" class="label-right">
                <i class="font-icon font-icon-contacts"></i>
                <span class="lbl">Contacts</span>
                <span class="label label-custom label-pill label-danger">35</span>
            </a>
        </li>
        <li class="magenta opened">
            <a href="scheduler.html">
                <i class="font-icon font-icon-calend"></i>
                <span class="lbl">Calendar</span>
            </a>
        </li>-->
        <!--<li class="grey with-sub">
            <span>
                <span class="glyphicon glyphicon-duplicate"></span>
                <span class="lbl">Sitio Web</span>
            </span>
            <ul>
                <li><a href="email_templates.html"><span class="lbl">Inicio</span></a></li>
                <li><a href="blank.html"><span class="lbl">Público</span></a></li>
                <li><a href="empty.html"><span class="lbl">Comercio</span></a></li>
                <li><a href="prices.html"><span class="lbl">Veterinario</span></a></li>
                <li><a href="prices.html"><span class="lbl">Acerca de nosotros</span></a></li>
                <li><a href="prices.html"><span class="lbl">Logo App</span></a></li>
            </ul>
        </li>
        <li class="blue-dirty with-sub">
            <span>
                <i class="font-icon font-icon-notebook"></i>
                <span class="lbl">Reportes</span>
            </span>
            <ul>
                <li><a href="email_templates.html"><span class="lbl">Usuarios</span></a></li>
                <li><a href="blank.html"><span class="lbl">Propagandas</span></a></li>
                <li><a href="empty.html"><span class="lbl">Pagos</span></a></li>
            </ul>
        </li>-->
        <!--<li class="aquamarine">
            <a href="contacts-page.html">
                <i class="font-icon font-icon-mail"></i>
                <span class="lbl">Contact form</span>
            </a>
        </li>
        <li class="blue">
            <a href="files.html">
                <i class="font-icon glyphicon glyphicon-paperclip"></i>
                <span class="lbl">File Manager</span>
            </a>
        </li>-->
        <!--<li class="gold">
            <a href="gallery.html">
                <i class="font-icon font-icon-picture-2"></i>
                <span class="lbl">Gallery</span>
            </a>
        </li>
        <li class="red">
            <a href="project.html">
                <i class="font-icon font-icon-case-2"></i>
                <span class="lbl">Copia de seguridad</span>
            </a>
        </li>-->
        <!--<li class="brown with-sub">
            <span>
                <span class="font-icon font-icon-chart"></span>
                <span class="lbl">Charts</span>
            </span>
            <ul>
                <li><a href="charts-c3js.html"><span class="lbl">C3.js</span></a></li>
                <li><a href="charts-peity.html"><span class="lbl">Peity</span></a></li>
                <li><a href="charts-plottable.html"><span class="lbl">Plottable.js</span></a></li>
            </ul>
        </li>
        <li class="grey with-sub">
            <span>
                <span class="font-icon font-icon-burger"></span>
                <span class="lbl">Nested Menu</span>
            </span>
            <ul>
                <li><a href="#"><span class="lbl">Level 1</span></a></li>
                <li><a href="#"><span class="lbl">Level 1</span></a></li>
                <li class="with-sub">
                    <span>
                        <span class="lbl">Level 2</span>
                    </span>
                    <ul>
                        <li><a href="#"><span class="lbl">Level 2</span></a></li>
                        <li><a href="#"><span class="lbl">Level 2</span></a></li>
                        <li class="with-sub">
                            <span>
                                <span class="lbl">Level 3</span>
                            </span>
                            <ul>
                                <li><a href="#"><span class="lbl">Level 3</span></a></li>
                                <li><a href="#"><span class="lbl">Level 3</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>-->
        </ul>
    </nav><!--.side-menu-->



    @RenderBody()
    
    


    <!--JS-->
    
    @Scripts.Render("~/Scripts/admin/popper.min.js")
    @Scripts.Render("~/Scripts/admin/tether.min.js")
    @Scripts.Render("~/Scripts/admin/bootstrap.min.js")
    @Scripts.Render("~/Scripts/admin/plugins.js")
    @Scripts.Render("~/Scripts/admin/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/admin/lobipanel.min.js")
    @Scripts.Render("~/Scripts/admin/jquery.matchHeight.min.js")
    @Scripts.Render("~/Scripts/admin/loader.js")

    <script>
        $(document).ready(function () {

            try {
                $('.panel').lobiPanel({
                    sortable: true
                }).on('dragged.lobiPanel', function (ev, lobiPanel) {
                    $('.dahsboard-column').matchHeight();
                });
            } catch (err) { }

            
        });

    </script>
    @Scripts.Render("~/Scripts/admin/app.js")
</body>
</html>
