@model List<DrHuellitas.BO.PuntosdeUbicacionBO>
@{
    ViewBag.Title = "Comercio";
    Layout = "~/Views/Shared/MasterFrontEnd.cshtml";
}

<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<link href="~/Content/jquery.gmaps.css" rel="stylesheet" />
<script src="~/Scripts/jquery.gmaps.js"></script>


<style>
    .gmaps {
        height: 500px;
        width: 100%;
    }
</style>
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-12 img-thumbnail">
                    <div data-key="AIzaSyAV5-gt021-D6FvPpRaFo_o-01qgBoSQtU"
                         data-control-zoom="true"
                         data-control-type="true"
                         data-control-scale="true"
                         data-control-streetview="true"
                         data-control-rotate="true"
                         data-event-mousewheel="true"
                         data-zoom="14" role="map" class="gmaps" style="width:100%;" id="repetir">

                        
                        <!-- items de ubicaciones -->
                       @foreach (var u in Model)
                       {


                        <div data-id="@u.direccion.id" data-lat="@u.direccion.latitud" data-lng="@u.direccion.longitud" class="marker">
                            <div class="map-card">
                                <h1>@u.direccion.ubicacion</h1>
                                <img src="@u.usuarios.foto" style="width:100px; height:100px;" class="img-thumbnail" alt="Mouse0270" />
                                <p></p>
                                <p>Nombre gerente: @u.usuarios.nombre</p>
                                <p>Nombre comercial: @u.comercio.nombreComercial</p>
                                <p>Nombre fiscal: @u.comercio.nombreFiscal</p>
                                <p>E-mail: @u.comercio.emal</p>
                                <p>Teléfono: @u.comercio.telefono1</p>
                            </div>
                        </div>

                       }

            </div>
               
        </div>
    </div>
</div>
 </div>
    </div>

<script>
    //escrip para las imagenes
     document.getElementById("slider").style.height = "200px"
    $("#slider").attr("data-pagination", "");
    $("#slider").attr("data-arrows", "");
    $("#slider").attr("data-style", "");

    $(document).ready(function () {
        $('.gmaps').gmaps();
    });



    

</script>

