@using DrHuellitas.BO;
@model RegistrosBO
@{
    ViewBag.Title = "Bienvenidos a Dr. Huellitas - Más que un amigo";
    Layout = "~/Views/Shared/MasterLoginView.cshtml";
}

@Styles.Render("~/Content/login/style.css")
@Styles.Render("~/Content/login/carrousel.css")

<style>
    #imgInicio {
        background-color: rgba(0,0,0,0.8);
        background-image: url(../../img/slide1.jpg);
        height: 80%;
        max-width: 100%;
    }

        #imgInicio::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
        }

    #login {
        position: relative;
        z-index: 1;
    }

    #mensaje {
        position: relative;
        z-index: 1;
    }

    #imgInicio {
        position: relative;
        z-index: 0;
    }


    #serviciosdrhuellitas i {
        color: #007F7B;
    }

    #serviciosdrhuellitas p{
        font-size:16px !important;
    }
</style>






<div class="nav-backed-header parallax" id="imgInicio">
    <div class="container">
        <div class="row" style="padding-top:100px;">
            <div class="col-md-6" id="mensaje">

                <h1 style="font:bold 48px Roboto, sans-serif; text-align:center; color:#fff; text-transform:uppercase; text-shadow: 0 1px 1px rgba(0,0,0,0.5);">
                    Servicios para el cuidado de las mascotas
                </h1>

                <p style="font:24px Roboto, sans-serif; text-align:center; color:#fff; text-transform:uppercase; text-shadow: 0 1px 1px rgba(0,0,0,0.5);">
                    Elige un establecimiento, consulta sus servicios y reserva una cita
                </p>

                <p style="font:24px Roboto, sans-serif; text-align:center; color:#fff; text-transform:uppercase; text-shadow: 0 1px 1px rgba(0,0,0,0.5);">
                    ¡Regístrate es gratis!
                </p>


            </div>
            <div class="col-md-6">
                <div class="module form-module" id="login">
                    <div class="toggle" id="btnToggle" onclick="Registrarme()">
                        <i class="fa fa-times fa-pencil"></i>
                        <div class="tooltip" id="lblTooltip">Resgístrate</div>
                    </div>
                    <div class="form">
                        <h2>Iniciar Sesión</h2>
                        @using (Html.BeginForm("IniciarSesion", "Inicio", FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.usuario.id)

                            @Html.TextBoxFor(m => m.usuario.usuario, new { @placeholder = "Usuario...", @required = "required" })

                            @Html.TextBoxFor(m => m.usuario.contraseña, new { @placeholder = "Contraseña...", @type = "password", @required = "required" })


                            <button type="submit">Aceptar</button>

                        }
                        <br />
                        <div class="cta">@Html.ActionLink("¿Olvidaste tu contraseña?", "RecuperarPass", "Inicio")</div><br />
                    </div>

                    <div class="form">
                        <h2>¡Resgístrate!</h2>
                        @using (Html.BeginForm("Registrar", "Inicio", FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.usuario.id)

                            @Html.TextBoxFor(m => m.usuario.email, new { @placeholder = "Correo electronico" })

                            @Html.TextBoxFor(m => m.usuario.usuario, new { @placeholder = "Usuario" })

                            @Html.TextBoxFor(m => m.usuario.contraseña, new { @id = "pass1", @placeholder = "Contraseña", @type = "password" })

                            @Html.TextBoxFor(m => m.usuario.nombre, new { @id = "pass2", @placeholder = "Repetir contraseña", @type = "password"})
                            
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.RadioButtonFor(m => m.usuario.idtipo, 2, new { @style = "width:100%; padding-bottom:5px;", @id = "Publico" })
                                </div>
                                <div class="col-md-10">
                                    <label id="lblPublic">Público</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.RadioButtonFor(m => m.usuario.idtipo, 3, new { @style = "width:100%; padding-bottom:5px;", @id = "Empresa" })
                                </div>
                                <div class="col-md-10">
                                    <label>Empresa</label>
                                </div>
                            </div>
                            <button type="submit" class="btn-success">Aceptar</button>

                        }

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br /><br />
            </div>
        </div>
    </div>
</div>

<div class="main" role="main" style="background-color:#fff">
    <div id="content" class="content full">
        <div class="container" id="servicios">
            <div class="row">
                <div class="col-md-12">
                    <center><h2 style="color:#5e5e5e;">Todo lo que necesita en un único lugar</h2></center>
                    <br /><br />
                </div>
            </div>
            <div class="row" id="serviciosdrhuellitas">
                <div class="col-md-3">
                    <center><i class="fa fa-search fa-3x"></i></center>
                    <center><h3>Búsqueda de comercios</h3></center>
                    <center><p>Filtros, los mejores servicios</p></center>
                </div>
                <div class="col-md-3">
                    <center><i class="fa fa-map-marker fa-3x"></i></center>
                    <center><h3>Ubicación geográfica</h3></center>
                    <center><p>Filtros, los mejores servicios</p></center>
                </div>
                <div class="col-md-3">
                    <center><i class="fa fa-calendar fa-3x"></i></center>
                    <center><h3>Agenda de citas</h3></center>
                    <center><p>Filtros, los mejores servicios</p></center>
                </div>
                <div class="col-md-3">
                    <center><i class="fa fa-star fa-3x"></i></center>
                    <center><h3>Reportes en PDF</h3></center>
                    <center><p>Filtros, los mejores servicios</p></center>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main" role="main" style="background-color:#f2f2f2">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
</div>

<div class="featured-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-offset-9">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic"
                       data-slide="prev"></a>
                    <a class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic"
                       data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h5>
                                                Sample Product
                                            </h5>
                                            <h5 class="price-text-color">
                                                $199.99
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h5>
                                                Sample Product
                                            </h5>
                                            <h5 class="price-text-color">
                                                $199.99
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h5>
                                                Sample Product
                                            </h5>
                                            <h5 class="price-text-color">
                                                $199.99
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h5>
                                                Sample Product
                                            </h5>
                                            <h5 class="price-text-color">
                                                $199.99
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h5>
                                                Sample Product
                                            </h5>
                                            <h5 class="price-text-color">
                                                $199.99
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h5>
                                                Sample Product
                                            </h5>
                                            <h5 class="price-text-color">
                                                $199.99
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h5>
                                                Sample Product
                                            </h5>
                                            <h5 class="price-text-color">
                                                $199.99
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h5>
                                                Sample Product
                                            </h5>
                                            <h5 class="price-text-color">
                                                $199.99
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

     function Registrarme() {
         $("#lblTooltip").html("Iniciar Sesión");
         $("#btnToggle").attr("onclick", "IniciaSesion()");
     }

     function IniciaSesion() {
         $("#lblTooltip").html("Resgístrate");
         $("#btnToggle").attr("onclick", "Registrarme()");
     }
</script>











                



               

