@using DrHuellitas.BO;
@model RegistroBO 
@{
    ViewBag.Title = "Bienvenidos a Dr. Huellitas - Más que un amigo";
    Layout = "~/Views/Shared/MasterLoginView.cshtml";
}

@Styles.Render("~/Content/login/style.css")

<div class="nav-backed-header parallax" style="background-image:url(../../img/slide1.jpg); height:700px;">
    <div class="container">
        <div class="row" style="padding-top:100px;">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <div class="module form-module">
                    <div class="toggle">
                        <i class="fa fa-times fa-pencil"></i>
                        <div class="tooltip">Resgistrate</div>
                    </div>
                    <div class="form">
                        <h2>Iniciar Sesión</h2>
                        @using (Html.BeginForm("IniciarSesion", "Inicio", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.id)

                            @Html.TextBoxFor(x => x.usuario, new {  @placeholder = "Usuario..." })

                            @Html.TextBoxFor(x => x.contraseña, new { @placeholder = "Contraseña...", @type = "password" })


                            <button type="submit" class="btn-success">Aceptar</button>

                        }
                        <br />
                        <div class="cta">@Html.ActionLink("¿Olvidaste tu contraseña?", "RecuperarPass", "Inicio")</div>
                    </div>
                    
                    <div class="form">
                        <h2>¡Resgistrate!</h2>
                        @using (Html.BeginForm("Registrar", "Inicio", FormMethod.Post))
                        {
                           @Html.HiddenFor(x => x.id)

                            @Html.TextBoxFor(x => x.email,new { @placeholder = "Correo electronico" })

                            @Html.TextBoxFor(x => x.usuario, new { @placeholder = "Usuario" })

                            @Html.TextBoxFor(x => x.contraseña, new { @id = "pass1", @placeholder = "Contraseña", @type="password"})

                            @Html.TextBoxFor(x => x.nombre, new { @id = "pass2", @placeholder ="Repetir contraseña", @type="password"})<label id="mensaje"></label>
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.RadioButtonFor(x => x.idtipo, 2, new { @style = "width:100%; padding-bottom:5px;" })
                                </div>
                                <div class="col-md-10">
                                    <label>Público</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.RadioButtonFor(x => x.idtipo, 3, new { @style = "width:100%; padding-bottom:5px;" })
                                </div>
                                <div class="col-md-10">
                                    <label>Empresa</label>
                                </div>
                            </div>
                            <button type="submit" class="btn-success">Aceptar</button>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var p1 = document.getElementById("pass1").value;
    var p2 = document.getElementById("pass2").value;

    if (p1 != p2) {
        document.getElementById("mensaje").innerText = "Las contraseñas no coinciden"
        document.getElementById('mensaje').style.color = '#FF0000';
    } else {
        document.getElementById("mensaje").innerText = "Correcto"
        document.getElementById('mensaje').style.color = '#000000';
    }
</script>

