@using DrHuellitas.BO;
@model RegistrosBO 
@{
    ViewBag.Title = "Bienvenidos a Dr. Huellitas - Más que un amigo";
    Layout = "~/Views/Shared/MasterLoginView.cshtml";
}

@Styles.Render("~/Content/login/style.css")


<style>
    #imgInicio {
        background-color: rgba(0,0,0,0.8);
        background-image: url(../../img/slide1.jpg);
        height: 700px;
        max-width: 100%;
    }
        #imgInicio::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
        }
    #login {
        position: relative;
        z-index: 1;
    }

    #mensaje {
        position: relative;
        z-index: 1;
    }

    #imgInicio {
        position: relative;
        z-index: 0;
    }

</style>

<div class="nav-backed-header parallax" id="imgInicio">
    <div class="container">
        <div class="row" style="padding-top:100px;">
            <div class="col-md-6" id="mensaje">

                <h1 style="font:bold 48px Roboto, sans-serif; text-align:center; color:#fff; text-transform:uppercase; text-shadow: 0 1px 1px rgba(0,0,0,0.5);">
                    Servicios para el cuidado de las mascotas
                </h1>

                <p  style="font:24px Roboto, sans-serif; text-align:center; color:#fff; text-transform:uppercase; text-shadow: 0 1px 1px rgba(0,0,0,0.5);">
                    Elige un establecimiento, consulta sus servicios y reserva una cita
                </p>

                <p style="font:24px Roboto, sans-serif; text-align:center; color:#fff; text-transform:uppercase; text-shadow: 0 1px 1px rgba(0,0,0,0.5);">
                    ¡Regístrate es gratis!
                </p>


            </div>
            <div class="col-md-6">
                <div class="module form-module" id="login">
                    <div class="toggle" id="btnToggle" onclick="Registrarme()">
                        <i class="fa fa-times fa-pencil"></i>
                        <div class="tooltip" id="lblTooltip">Resgístrate</div>
                    </div>
                    <div class="form">
                        <h2>Iniciar Sesión</h2>
                        @using (Html.BeginForm("IniciarSesion", "Inicio", FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.usuario.id)

                            @Html.TextBoxFor(m => m.usuario.usuario, new {  @placeholder = "Usuario...", @required = "required" })

                            @Html.TextBoxFor(m => m.usuario.contraseña, new { @placeholder = "Contraseña...", @type = "password", @required = "required" })


                            <button type="submit" >Aceptar</button>

                        }
                        <br />
                        <div class="cta">@Html.ActionLink("¿Olvidaste tu contraseña?", "RecuperarPass", "Inicio")</div>
                    </div>
                    
                    <div class="form">
                        <h2>¡Resgístrate!</h2>
                        @using (Html.BeginForm("Registrar", "Inicio", FormMethod.Post))
                        {
                           @Html.HiddenFor(m => m.usuario.id)

                            @Html.TextBoxFor(m => m.usuario.email,new { @placeholder = "Correo electronico" })

                            @Html.TextBoxFor(m => m.usuario.usuario, new { @placeholder = "Usuario" })

                            @Html.TextBoxFor(m => m.usuario.contraseña, new { @id = "pass1", @placeholder = "Contraseña", @type="password"})

                            @Html.TextBoxFor(m => m.usuario.nombre, new { @id = "pass2", @placeholder ="Repetir contraseña", @type="password"})<label id="mensaje"></label>
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.RadioButtonFor(m => m.usuario.idtipo, 2, new { @style = "width:100%; padding-bottom:5px;", @id="Publico"})
                                </div>
                                <div class="col-md-10">
                                    <label id="lblPublic">Público</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.RadioButtonFor(m => m.usuario.idtipo, 3, new { @style = "width:100%; padding-bottom:5px;", @id="Empresa" })
                                </div>
                                <div class="col-md-10">
                                    <label>Empresa</label>
                                </div>
                            </div>
                            <button type="submit" class="btn-success">Aceptar</button>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="featured-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h4>Updates from our gallery</h4>
                <a href="#" class="btn btn-default btn-lg">More Galleries</a>
            </div>
            <div class="col-md-3 col-sm-3 post format-image"> <a href="~/img/img5.jpg" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="~/img/img5.jpg" alt="" style="width: auto; height: 258px;"> <span class="zoom" style="width: auto; height: 258px; line-height: 105px;"><i class="fa fa-search"></i></span></a> </div>
            <div class="col-md-3 col-sm-3 post format-image"> <a href="~/img/img6.jpg" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="~/img/img6.jpg" alt="" style="width: auto; height: 258px;"> <span class="zoom" style="width: auto; height: 258px; line-height: 105px;"><i class="fa fa-play"></i></span></a> </div>
            <div class="col-md-3 col-sm-3 post format-image"> <a href="~/img/img4.jpg" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="~/img/img4.jpg" alt="" style="width: auto; height: 258px;"> <span class="zoom" style="width: auto; height: 258px; line-height: 105px;"><i class="fa fa-search"></i></span></a> </div>
        </div>
    </div>
</div>




<script>
    function ValidarContraseñas() {
        var p1 = document.getElementById("pass1").value;
        var p2 = document.getElementById("pass2").value;

        if (p1 != p2) {
            document.getElementById("mensaje").innerText = "Las contraseñas no coinciden"
            document.getElementById('mensaje').style.color = '#FF0000';
        } else {
            document.getElementById("mensaje").innerText = "Correcto"
            document.getElementById('mensaje').style.color = '#000000';
        }
    }



    function Registrarme() {
        $("#lblTooltip").html("Iniciar Sesión");
        $("#btnToggle").attr("onclick", "IniciaSesion()");
    }

    function IniciaSesion() {
        $("#lblTooltip").html("Resgístrate");
        $("#btnToggle").attr("onclick", "Registrarme()");
    }
</script>

