@using DrHuellitas.BO;
@model RegistroBO 
@{
    ViewBag.Title = "Bienvenidos a Dr. Huellitas - Más que un amigo";
    Layout = "~/Views/Shared/MasterLoginView.cshtml";
}

@Styles.Render("~/Content/login/style.css")

<div class="nav-backed-header parallax" style="background-image:url(../../img/slide1.jpg); height:700px;">
    <div class="container">
        <div class="row" style="padding-top:100px;">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <div class="module form-module">
                    <div class="toggle">
                        <i class="fa fa-times fa-pencil"></i>
                        <div class="tooltip">Resgistrate</div>
                    </div>
                    <div class="form">
                        <h2>Iniciar Sesión</h2>
                        @using (Html.BeginForm("Index", "Inicio", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.id)

                            @Html.TextBoxFor(x => x.usuario, new {  @placeholder = "Usuario..." })

                            @Html.TextBoxFor(x => x.contraseña, new { @placeholder = "Contraseña..." })

                            @Html.RadioButtonFor(x=>x.id_tipo, new { @name="nombre"})
                            @Html.RadioButtonFor(x => x.id_tipo, 02)


                            <button type="submit" class="btn-success">Iniciar</button>

                        }
                        <div class="cta"><a href="http://andytran.me">¿Olvidaste tu contraseña?</a></div>
                    </div>
                    
                    <div class="form">
                        <h2>¡Resgistrate!</h2>
                        @using (Html.BeginForm("Index", "Inicio", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.id)

                            @Html.TextBoxFor(x => x.email, new { @placeholder = "Correo electronico" })

                            @Html.TextBoxFor(x => x.usuario, new { @placeholder = "Nombre de Usuario" })

                            @Html.TextBoxFor(x => x.contraseña, new { @placeholder = "Contraseña" })
                            
                            @Html.TextBoxFor(x => x.rep_contraseña, new { @placeholder = "Repetir contraseña" })

                            <button type="submit" class="btn-success">Aceptar</button>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

