@using DrHuellitas.BO;
@model RegistroComercio
@{
    ViewBag.Title = "Continuar Registro";
    Layout = "~/Views/Shared/MasterFrontEndVet.cshtml";
}

@Styles.Render("~/Content/Cliente/Step.css")

<style>
    #map {
        height: 400px;
        width: auto;
    }
</style>



<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Continuar registro</h1>
            </div>
        </div>
    </div>
</div>
<br />
<br />


<div class="stepwizard col-md-offset-2 col-xs-12">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>Datos personales</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>Datos del comercio</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>Ubicación geográfica</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
            <p>Foto perfil</p>
        </div>
    </div>
</div>


@using (Html.BeginForm("completarregistro", "Comercio", FormMethod.Post))
{
    <div class="row setup-content" id="step-1">
        <div class="col-md-8 col-md-offset-2 col-xs-12 ">
            <div class="col-md-12">
                <h3>Datos personales</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            
                            @Html.TextBoxFor(x => x.usuario.nombre, new { @placeholder = "Nombre(s)", @maxlength = "100", @required = "required", @type = "text", @class = "form-control" })
                            <br />
                            @Html.TextBoxFor(x => x.usuario.ape, new { @placeholder = "Apellido(s)", @maxlength = "100", @required = "required", @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            
                            @Html.TextBoxFor(x => x.usuario.telefono, new { @placeholder = "Teléfono", @maxlength = "100", @required = "required", @type = "text", @class = "form-control" })

                            <p class="control-label">Fecha de nacimiento</p>
                            @Html.TextBoxFor(x => x.usuario.fechanacimiento, new { @required = "required", @type = "date", @class = "form-control" })
                            <br />
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="col-md-12">
                <h3>Datos del comercio</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                           @Html.TextBoxFor(x => x.comercio.nombreComercial, new { @placeholder = "Nombre comercial", @maxlength = "100", @required = "required", @type = "text", @class = "form-control" })

                            @Html.TextBoxFor(x => x.comercio.nombreFiscal, new { @placeholder = "Nombre fiscal", @maxlength = "100", @required = "required", @type = "text", @class = "form-control" })

                            @Html.TextBoxFor(x => x.comercio.rfc, new { @placeholder = "RFC", @maxlength = "100", @required = "required", @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.comercio.telefono1, new { @placeholder = "Teléfono 1", @maxlength = "10", @required = "required", @type = "text", @class = "form-control" })

                            @Html.TextBoxFor(x => x.comercio.telefono2, new { @placeholder = "Teléfono 2 (opcional)", @maxlength = "10", @type = "text", @class = "form-control" })

                            @Html.TextBoxFor(x => x.comercio.emal, new { @placeholder = "Correo electrónico", @maxlength = "100", @required = "required", @type = "text", @class = "form-control" })
                        </div>
                    </div>
                </div> 
                <h3>Horario laborales</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Lunes</label>
                            @Html.TextBoxFor(x => x.horario.inicioLunes, new { @placeholder = "Hora inicio", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Martes</label>
                            @Html.TextBoxFor(x => x.horario.inicioMarte, new { @placeholder = "Hora inicio", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Miercoles</label>
                            @Html.TextBoxFor(x => x.horario.inicioMiercoles, new { @placeholder = "Hora inicio", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Jueves</label>
                            @Html.TextBoxFor(x => x.horario.inicioJueves, new { @placeholder = "Hora inicio", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Viernes</label>
                            @Html.TextBoxFor(x => x.horario.inicioViernes, new { @placeholder = "Hora inicio", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Sabado</label>
                            @Html.TextBoxFor(x => x.horario.inicioSabado, new { @placeholder = "Hora inicio", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Domingo</label>
                            @Html.TextBoxFor(x => x.horario.inicioDomingo, new { @placeholder = "Hora inicio", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Lunes</label>
                            @Html.TextBoxFor(x => x.horario.finalLunes, new { @placeholder = "Hora fin", @maxlength = "10", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Martes</label>
                            @Html.TextBoxFor(x => x.horario.finalMartes, new { @placeholder = "Hora fin", @maxlength = "10", @type = "time", @class = "form-control" })
                            <label class="control-label">Miercoles</label>
                            @Html.TextBoxFor(x => x.horario.finalMiercoles, new { @placeholder = "Hora fin", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Jueves</label>
                            @Html.TextBoxFor(x => x.horario.finalJueves, new { @placeholder = "Hora fin", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Viernes</label>
                            @Html.TextBoxFor(x => x.horario.finalViernes, new { @placeholder = "Hora fin", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Sabado</label>
                            @Html.TextBoxFor(x => x.horario.finalSabado, new { @placeholder = "Hora fin", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                            <label class="control-label">Domingo</label>
                            @Html.TextBoxFor(x => x.horario.finalDomingo, new { @placeholder = "Hora fin", @maxlength = "100", @required = "required", @type = "time", @class = "form-control" })
                        </div>
                    </div>
                </div>  
                <h3>Servicios que ofrece el comercio</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <p class="control-label">Venta de productos</p>
                            @Html.CheckBoxFor(x => x.comercio.venderproducto,1)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <p class="control-label">Veterinaria</p>
                           @Html.CheckBoxFor(x => x.comercio.veterinaria,1)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                           
                            <p class="control-label">Estética/SPA</p>
                            @Html.CheckBoxFor(x => x.comercio.estetica,1)
                        </div>
                    </div>
                </div>  
            </div>
            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <!-- Aquí esta la ubicaciooooooooooooooooooooooooooooooooooooooon-->
        <div class="col-md-8 col-md-offset-2 col-xs-12 ">
            <div class="col-md-12">
                <h3>Ubicación geográfica</h3>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!--Mapa para ubicación-->
                        <div class="row">
                            
                            <div class="col-md-4">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Ubicacion</label>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(X=>X.direccion,new { @id="modal", @class="col-lg-12"})

                                                    </div>
                                                </div>
                                                <div id="ModalMapPreview" style="width:100%; height:400px;"></div>
                                                <div class="clearfix">&nbsp;</div>
                                                <div class="m-t-small">
                                                    <label class="p-r-small col-sm-1" contole-label>lat:</label>
                                                    <div class="col-sm-3">
                                                        <input id="ModalMapLat" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="m-t-small">
                                                    <label class="p-r-small col-sm-1" contole-label>long:</label>
                                                    <div class="col-sm-4">
                                                        <input id="ModalMapLon" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div><!--Aquí termina la ubicacion-->
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>
            </div>
        </div>
    </div>
    </div>
    <div class="row setup-content" id="step-4">
        <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12">
                <h3>Finalizar</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <img id="imgSalida" src="~/img/admin/avatar-2-256.png" width="256" height="256" class="img-thumbnail img-circle" />
                            <br /><br />
                            <label class="control-label" for="file">Seleccionar una foto de perfil:</label>
                            @Html.TextBoxFor(x => x.usuario.img, new { @type = "file", @name = "file", @id = "file" })

                        </div>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-success btn-lg pull-right" type="submit" id="btnListo">Listo</button>
            </div>
        </div>
    </div>
}









