@using DrHuellitas.BO;
@model PropagandaBO
@{
    ViewBag.Title = "Bienvenido a Dr. Huellitas";
    Layout = "~/Views/Shared/MasterFrontEndVet.cshtml";
}

<style>

    .card {
        padding-top: 20px;
        margin: 0px 0 20px 0;
        background-color: rgba(214, 224, 226, 0.2);
        border-top-width: 0;
        border-bottom-width: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .card .card-heading {
            padding: 0 20px;
            margin: 0;
        }

            .card .card-heading.simple {
                font-size: 20px;
                font-weight: 300;
                color: #777;
                border-bottom: 1px solid #e5e5e5;
            }

            .card .card-heading.image img {
                display: inline-block;
                width: 46px;
                height: 46px;
                margin-right: 15px;
                vertical-align: top;
                border: 0;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .card .card-heading.image .card-heading-header {
                display: inline-block;
                vertical-align: top;
            }

                .card .card-heading.image .card-heading-header h3 {
                    margin: 0;
                    font-size: 14px;
                    line-height: 16px;
                    color: #262626;
                }

                .card .card-heading.image .card-heading-header span {
                    font-size: 12px;
                    color: #999999;
                }

        .card .card-body {
            padding: 0 20px;
            margin-top: 20px;
        }

        .card .card-media {
            padding: 0 20px;
            margin: 0 -14px;
        }

            .card .card-media img {
                max-width: 100%;
                max-height: 100%;
            }

        .card .card-actions {
            min-height: 30px;
            padding: 0 20px 20px 20px;
            margin: 20px 0 0 0;
        }

        .card .card-comments {
            padding: 20px;
            margin: 0;
            background-color: #f8f8f8;
        }

            .card .card-comments .comments-collapse-toggle {
                padding: 0;
                margin: 0 20px 12px 20px;
            }

                .card .card-comments .comments-collapse-toggle a,
                .card .card-comments .comments-collapse-toggle span {
                    padding-right: 5px;
                    overflow: hidden;
                    font-size: 12px;
                    color: #999;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

    .card-comments .media-heading {
        font-size: 13px;
        font-weight: bold;
    }

    .card.people {
        position: relative;
        display: inline-block;
        width: 170px;
        height: 300px;
        padding-top: 0;
        margin-left: 20px;
        overflow: hidden;
        vertical-align: top;
    }

        .card.people:first-child {
            margin-left: 0;
        }

        .card.people .card-top {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 170px;
            height: 150px;
            background-color: #ffffff;
        }

            .card.people .card-top.green {
                background-color: #53a93f;
            }

            .card.people .card-top.blue {
                background-color: #427fed;
            }

        .card.people .card-info {
            position: absolute;
            top: 150px;
            display: inline-block;
            width: 100%;
            height: 101px;
            overflow: hidden;
            background: #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .card.people .card-info .title {
                display: block;
                margin: 8px 14px 0 14px;
                overflow: hidden;
                font-size: 16px;
                font-weight: bold;
                line-height: 18px;
                color: #404040;
            }

            .card.people .card-info .desc {
                display: block;
                margin: 8px 14px 0 14px;
                overflow: hidden;
                font-size: 12px;
                line-height: 16px;
                color: #737373;
                text-overflow: ellipsis;
            }

        .card.people .card-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            padding: 10px 20px;
            line-height: 29px;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .card.hovercard {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);
    }

        .card.hovercard .cardheader {
            background:url(@Session["foto"]);
            background-size: cover;
            height: 135px;
        }

        .card.hovercard .avatar {
            position: relative;
            top: -50px;
            margin-bottom: -50px;
        }

            .card.hovercard .avatar img {
                width: 100px;
                height: 100px;
                max-width: 100px;
                max-height: 100px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 5px solid rgba(255,255,255,0.5);
            }

        .card.hovercard .info {
            padding: 4px 8px 10px;
        }

            .card.hovercard .info .title {
                margin-bottom: 4px;
                font-size: 24px;
                line-height: 1;
                color: #262626;
                vertical-align: middle;
            }

            .card.hovercard .info .desc {
                overflow: hidden;
                font-size: 12px;
                line-height: 20px;
                color: #737373;
                text-overflow: ellipsis;
            }

        .card.hovercard .bottom {
            padding: 0 20px;
            margin-bottom: 17px;
        }
</style>

<style>


.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
	border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 5px;
}
.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 12px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}



.panel-google-plus .btn {
    border-radius: 3px;
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover,
.panel-google-plus .btn-default:focus,
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

    .bottom .panel-footer button {
        font: 400 13.3333px Arial;
        text-rendering: auto;
        outline: none;
        text-transform:none;
        width: 100%;
        border: 1px solid #d9d9d9;
        margin: 0 0 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        font-wieght: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        margin: 0em;
        color:#fff;
    }


</style>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Inicio</h1>
            </div>
        </div>
    </div>
</div>
       



<div class="main" role="main" style="background-color:#fff">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <!-- Start Sidebar -->
                <div class="col-xm-10 col-md-4 sidebar">
                    <div class="card hovercard">
                        <div class="cardheader" >
                        </div>
                        <div class="avatar">
                            <img alt="" src="@Session["foto"]">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a>@Session["nombre"]</a>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="panel-footer">
                                
                                <button class="btn btn-primary" id="btnMisPropagandas" onclick="propaganda()" style="width:150px;">
                                    <i class="fa fa-image"></i>&nbsp;Mis propagandas
                                </button>

                                <div class="spacer-20" id="spacer1"></div>

                                <button class='btn btn-primary' id="btnAgregarPropaganda" onclick="AgregarPropaganda(0)" style="width:150px;">
                                    <i class="fa fa-image"></i>&nbsp;Nueva propaganda
                                </button>

                                <div class="spacer-20" id="spacer2"></div>

                                <button class="btn btn-primary" id="btnVerPropagandas" onclick="VerPropagandas(0)" style="width:150px;">
                                    <i class="fa fa-image"></i>&nbsp;Ver propagandas
                                </button>
                                <!--Aquí terminan los correspondientes a propagandas-->
                                <div class="spacer-20" id="spacer3"></div>

                                <button class="btn btn-primary" id="btnMisComentarios" onclick="comentarios()" style="width:150px;">
                                    <i class="fa fa-comment"></i>&nbsp;Mis comentarios
                                </button>

                                <div class="spacer-20" id="spacer4"></div>

                                <button class="btn btn-primary" id="btnVerComentarios" onclick="" style="width:150px;">
                                    <i class="fa fa-comment-o"></i>&nbsp;Ver comentarios
                                </button>

                                <div class="spacer-20" id="spacer5"></div>
                                <!--Aquí terminan los correspondientes a comentarios-->
                                <button class="btn btn-primary" id="btnMiPerfil" onclick="miperfil()" style="width:150px;">
                                    <i class="fa fa-user"></i>&nbsp;Mi perfil
                                </button>

                                <div class="spacer-20" id="spacer6"></div>
                                <button class="btn btn-primary" id="btnFotoPerfil" onclick="foto(@Session["id"])" style="width:150px;">
                                    <i class="fa fa-user"></i>&nbsp;Foto de Perfil
                                </button>

                                

                                <div class="spacer-20" id="spacer7"></div>
                                <button class="btn btn-primary" id="btnFotoPortada" onclick="" style="width:150px;">
                                    <i class="fa fa-user"></i>&nbsp;Foto de Portada
                                </button>

                                <div class="spacer-20" id="spacer8"></div>
                                <button class="btn btn-primary" id="btnEditarPerfil" onclick="" style="width:150px;">
                                    <i class="fa fa-user"></i>&nbsp;Editar
                                </button>

                                
                            </div>
                        </div>

                        <br />
                      
                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-7" id="listaPropaganda">
                   
                    <!-- Payment Modal Window -->
                    <div class="modal fade" id="propaganda">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h4 id="ModalTitle1"></h4>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("AgregarPropaganda", "Comercio", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                    {
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                @Html.HiddenFor(m => m.id, new { @id = "idpropaganda" })
                                                @Html.HiddenFor(m => m.idusuario, new { @idusuario = "idusuario" })
                                                <img id="img" src="~/img/admin/avatar-1-128.png" width="100" height="100" class="img-circle center-block" />
                                                <br />

                                                @Html.TextBoxFor(m => m.imagen, new { @type = "file", @name = "file", @id = "carga", @class = "btn btn-file center-block form-control" })
                                                <br />
                                                <label class="text-align-center">Descripción:</label><br />
                                                @Html.TextAreaFor(m => m.descripcion, new { @id = "idarea", @class = "form-control", @style = "resize: none;", @rows = "6", @cols = "80" })

                                            </div>
                                        </div>

                                        <button class=" btn btn-block btn-success" type="submit" id="btnListo">Guardar</button>

                                    }
                                </div>
                            </div>
                        </div>
                    </div><!--Aquí termina el modal-->
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="VentanaEliminado1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Eliminar propaganda</h4>
            </div>
            <div class="modal-body">
                <h4>¿Esta usted seguro que lo desea eliminar?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancelar</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirmar</a>
            </div>
        </div>
    </div>
</div>

<!--Aquí empieza el modal para editar foto-->

<div class="modal fade" id="foto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle1"></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("modifcarfotoperfil", "Comercio", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <div class="col-md-12">

                        <div class="form-group">
                            @Html.HiddenFor(x=>x.usuario.id, new { @idusuario = "id" })
                            <img id="img" src="" width="200" height="200" class="img-circle center-block" />
                            <br />

                            @Html.TextBoxFor(x=>x.usuario.img, new { @type = "file", @name = "file", @id = "carga", @class = "btn btn-file center-block form-control" })
                            <br />

                        </div>
                    </div>

                                        <button class=" btn btn-block btn-success" type="submit" id="btnListo">Guardar</button>

                }
            </div>
        </div>
    </div>
</div><!--aqui termina el modal de editar foto-->


<script>
    document.getElementById("slider").style.height = "200px"
    $("#slider").attr("data-pagination", "");
    $("#slider").attr("data-arrows", "");
    $("#slider").attr("data-style", "");


    $(document).ready(function () {
        $(function () {
            $('#carga').change(function (e) {
                addImage(e);
            });

            function addImage(e) {
                var file = e.target.files[0], imageType = /image.*/;

                if (!file.type.match(imageType))
                    return;

                var reader = new FileReader();
                reader.onload = fileOnload;
                reader.readAsDataURL(file);
            }

            function fileOnload(e) {
                var result = e.target.result;
                $('#img').attr("src", result);
            }
        });
    });

    $(function () {
        $('.panel-google-plus > .panel-footer > .input-placeholder, .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > button[type="reset"]').on('click', function (event) {
            var $panel = $(this).closest('.panel-google-plus');
            $comment = $panel.find('.panel-google-plus-comment');

            $comment.find('.btn:first-child').addClass('disabled');
            $comment.find('textarea').val('');

            $panel.toggleClass('panel-google-plus-show-comment');

            if ($panel.hasClass('panel-google-plus-show-comment')) {
                $comment.find('textarea').focus();
            }
        });
        $('.panel-google-plus-comment > .panel-google-plus-textarea > textarea').on('keyup', function (event) {
            var $comment = $(this).closest('.panel-google-plus-comment');

            $comment.find('button[type="submit"]').addClass('disabled');
            if ($(this).val().length >= 1) {
                $comment.find('button[type="submit"]').removeClass('disabled');
            }
        });
    });

    document.getElementById("slider").style.height = "200px"

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function AgregarPropaganda(idpropaganda) {
        $("#idUsuario").val(0);
        $("#imgSalida").attr("src", "../../img/admin/avatar-1-128.png");
        $("#ModalTitle1").html("Añadir nueva propaganda");
        $("#propaganda").modal();
    }

    $.get("/Comercio/Obtenerpropaganda", null, DataBind);
    function DataBind(Packpropaganda)
    {
        var SetData = $("#listaPropaganda");
        for (var i = 0; i < Packpropaganda.length; i++)
        {
            var data = "<div class='[ panel panel-default ] panel-google-plus'  row_" + Packpropaganda[i].id + ">" +

                "<div class='panel-google-plus-tags'>" +

                "</div>" +
                "<div class='panel-heading'>" +
                " <img class='img img-circle pull-left'src='@Session["foto"]'  style='height:32px !important;  width:32px !important;' alt='Mouse0270' />" +
                "<h3>@Session["nombre"]</h3>" +
                "<h5><span>Propaganda</span> - <span>" + Packpropaganda[i].fecha + "</span> </h5>" +
                "</div>" +
                "<div class='panel-body'>" +
                "<p>" + Packpropaganda[i].descripcion + "</p>" +
                "<p style='text-align:center;'><img src=" + Packpropaganda[i].foto + " style='width:auto; height:500px'/></p>" +
                "</div>" +
                "<div class='panel-footer'>"+
                    "<button type='button'  href='#' class='[ btn btn-default ]' onclick='EditarPropaganda("+Packpropaganda[i].id+")'>Editar</button>"+
                    "<button type='button' class='[ btn btn-default ]'>"+
                     "<span class=[ glyphicon glyphicon-share-alt ] href='#' onclick='Eliminnarpropaganda("+Packpropaganda[i].id+")'> Eliminar</span>"+
                    "</button>"+

                "</div>"+
                "</div>";
            SetData.append(data);
        };

    }
    function EditarPropaganda(idpropaganda) {
        $.get("/Comercio/mostrar?id="+idpropaganda, null, llamada);
        function llamada(obtenerlista)
        {

            for (var i = 0; i < obtenerlista.length; i++)
            {

                $("#idpropaganda").val(obtenerlista[i].id);
                $("#idarea").val(obtenerlista[i].descripcion);
                $("#img").attr("src", obtenerlista[i].foto);
            }
        }
        $("#ModalTitle1").html("Actualizar datos de la ciudad");
        $("#propaganda").modal();

    }
    function foto(id)
    {
        $.get("/Comercio/fotolista?id=" + id ,null,llamada);
        function llamada(obtenerfoto)
        {
            for (var i = 0; i < obtenerfoto.length; i++)
            {
                $("#id").val(obtenerfoto[i].id);
                $("#imagen").attr("src", obtenerfoto[i].foto)
            }
            $("#foto").modal();
        }

    }

    var Eliminnarpropaganda = function (idpropaganda) {
        $("#idpropaganda").val(idpropaganda);
        $("#VentanaEliminado1").modal();
    }
    var ConfirmDelete = function () {
        var idpropaganda = $("#idpropaganda").val();
        $.ajax({
            type: "POST",
            url: "/Comercio/eliminar?id=" + idpropaganda,
            success: function (result) {
                $("#VentanaEliminado1").modal("hide");
                location.reload(true);
            }
        })
    }

    $(document).ready(function () {
        $("#btnAgregarPropaganda").hide();
        $("#btnVerPropagandas").hide();
        $("#spacer2").hide();
        $("#spacer3").hide();
        $("#spacer4").hide();
        $("#btnVerComentarios").hide();
        $("#btnFotoPerfil").hide();
        $("#btnFotoPortada").hide();
        $("#btnEditarPerfil").hide();
    }
    );

    function propaganda() {

        $("#btnMisPropagandas").html("<i class='fa fa-arrow-circle-left'></i>&nbsp;Regresar");
        $("#btnMisPropagandas").attr("onclick", "RegregarPropaganda()");
        $("#spacer2").show();
        $("#btnAgregarPropaganda").show();
        $("#btnVerPropagandas").show();
        $("#btnMiPerfil").hide();
        $("#btnMisComentarios").hide();
    }

    function RegregarPropaganda() {
        $("#btnAgregarPropaganda").hide();
        $("#btnVerPropagandas").hide();
        $("#btnMiPerfil").show();
        $("#spacer2").hide();
        $("#btnMisComentarios").show();
        $("#btnMisPropagandas").html("<i class='fa fa-image'></i>&nbsp;Mis propagandas");
        $("#btnMisPropagandas").attr("onclick", "propaganda()");
    }
    function comentarios() {
        $("#btnMisComentarios").html("<i class='fa fa-arrow-circle-left'></i>&nbsp;Regresar");
        $("#btnMisComentarios").attr("onclick", "RegregarComentario()");
        $("#spacer2").hide();
        $("#spacer1").hide();
        $("#spacer4").show();
        $("#btnVerComentarios").show();
        $("#btnMisPropagandas").hide();
        $("#btnMiPerfil").hide();
    }

    function RegregarComentario() {
        $("#btnMisComentarios").html("<i class='fa fa-comment'></i>&nbsp;Mis comentarios");
        $("#btnMisComentarios").attr("onclick", "comentarios()");
        $("#spacer2").hide();
        $("#spacer1").show();
        $("#spacer4").hide();
        $("#btnVerComentarios").hide();
        $("#btnMisPropagandas").show();
        $("#btnMiPerfil").show();
    }

    function miperfil() {
        $("#btnMiPerfil").html("<i class='fa fa-arrow-circle-left'></i>&nbsp;Regresar");
        $("#btnMiPerfil").attr("onclick", "RegregarMiPerfil()");
        $("#spacer2").hide();
        $("#spacer3").hide();
        $("#spacer1").hide();
        $("#spacer4").hide();
        $("#spacer5").hide();
        $("#btnMisPropagandas").hide();
        $("#btnMisComentarios").hide();
        $("#btnFotoPerfil").show();
        $("#btnFotoPortada").show();
        $("#btnEditarPerfil").show();
        $("#btnMiPerfil").show();
    }

    function RegregarMiPerfil() {
        $("#btnMiPerfil").html("<i class='fa fa- user'></i>&nbsp;Mi perfil");
        $("#btnMiPerfil").attr("onclick", "miperfil()");
        $("#spacer2").show();
        $("#spacer1").hide();
        $("#spacer3").hide();
        $("#spacer4").hide();
        $("#spacer5").show();
        $("#btnFotoPerfil").hide();
        $("#btnFotoPortada").hide();
        $("#btnEditarPerfil").hide();
        $("#btnMiPerfil").show();
        $("#btnMisPropagandas").show();
        $("#btnMisComentarios").show();
    }




    
</script>
